.plan-heading__top {
  padding: 16px 0;
  color: #ffffff;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.65px;
  text-transform: uppercase;
  background-color: #262626; }
