/*.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	img {
		display: none;
	}
}*/
.ibg {
  position: relative; }
  .ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover; }

body.ie .ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

body.ie .ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden; }

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%; }
  .video video,
  .video iframe,
  .video object,
  .video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover; }

.tab__item {
  display: none; }
  .tab__item.active {
    display: block; }
