.section-tw {
	background-color: #272727;

	background-image: url(../img/twitter-img.png);
	background-position: left bottom;
	background-repeat: no-repeat;
}

.twitter {
	&__icon {
		font-size: 34px;
		color: #ff0036;
	}
	&__text {
		color: #ffffff;
		line-height: 22px;
		padding-top: 26px;
		max-width: 642px;
		margin: 0 auto;
	}
}
